@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.back-layer {
  z-index: 0;
}

.box {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f4f4f4;
  width: 320px;
  padding: 10px;
  border-radius: 8px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.theme .leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box-line {
  display: flex;
  justify-content: space-between;
}

.box-element {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 200;
}

.box-element p {
  height: 36px;
  font-size: 32px;
}

.box-element p span {
  font-size: 0.5em;
}

.box-element p:last-child {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 640px) {
  .leaflet-container {
    max-height: 100%;
  }

  .box {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
