@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --settings-box-width: 390px;
  --settings-box-responsive-width: 320px;
  --settings-box-show: 20px;
  --settings-box-hide: calc(var(--settings-box-width) * -1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.back-layer {
  z-index: 0;
}

.box {
  position: absolute;
  background-color: #f4f4f4;
  padding: 10px 10px 5px 10px;
  border-radius: 8px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stats-box {
  top: 20px;
  left: 20px;
  width: 320px;
  height: 210px;
  padding-bottom: 15px;
  padding-top: 6px;
}

.theme .leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box-line {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stats-box .box-line {
  height: 55px;
}

.box-line.buttons {
  margin-top: 5px;
  justify-content: space-around;
}

.stats-box-button {
  border: none;
  border-radius: 2px;
  height: 24px;
  width: 24px;
  background-color: transparent;
}

.stats-box-button:hover {
  background-color: #00000010;
}

.box-element {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 200;
}

.box-element p {
  height: 32px;
  font-size: 28px;
}

.box-element p span {
  font-size: 0.5em;
}

.box-element p:last-child {
  font-size: 14px;
  font-weight: 300;
}

/* SETTINGS */
.settings-box {
  width: var(--settings-box-width);
  top: 20px;
  padding: 12.5px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}

.settings-box.hide {
  right: var(--settings-box-hide);
  z-index: -1;
}

.settings-box.show {
  right: var(--settings-box-show);
}

.turn-image {
  height: 40px;
  transform: translateY(-2.5px);
}

.speed-image {
  height: 40px;
  transform: translateY(-2.5px);
}

.box-button {
  width: 80px;
  height: 80px;
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 200;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.box-button:hover {
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 1);
}

.box-button:hover p {
  font-weight: 400;
}

.box-button.selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.box-button.selected p {
  font-weight: 500;
}

.on-top {
  z-index: 10;
}

.on-back {
  z-index: 9;
  border: 50px solid black;
}

@media (max-width: 640px) {
  .leaflet-container {
    height: 100dvh;
  }

  .stats-box {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .settings-box {
    width: var(--settings-box-responsive-width);
    height: min-content;
    top: 245px;
    padding: 10px 17.5px 15px 17.5px;
    gap: 8px;
  }

  .settings-box.hide {
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
  }

  .settings-box.show {
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 1;
  }

  .turn-image {
    height: 30px;
    transform: translateY(-2.5px);
  }

  .speed-image {
    height: 30px;
    transform: translateY(-2.5px);
  }

  .box-button {
    width: 65px;
    height: 60px;
    padding: 10px 5px 5px 5px;
  }
}
